<p id="notice"><%= notice %></p>

<%= link_to "Home", :root %>

<div class="post-card">
  <div class="row">
    <div>
      <strong>
        <h2>
          <%= @post.title %>
        </h2>
        <div class="col-2">
          <em><%= @post.user.username %></em>
        </div>
      </strong>
    </div>
  </div>

  <div class="col">
    <p>
      <%= @post.content %>
    </p>
  </div>

  <div class="col-2">
    <div style="display:none">
      <%= link_to 'Destroy', @post, method: :delete %>
    </div>
  </div>
</div>


<% @comments.each do |comment| %>
  <%= render 'comment', comment: comment %>
<% end %>

<%= link_to 'Add Comment', new_comment_path(post_id: @post.id) %>
